@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    background-color: var(--cinza);
    display: block;
    
    
}

#corpo{
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-pattern-desktop.svg");
    padding: 50px;
}
#texto{
    
    padding: 40px 0px 40px 0px;
    margin-right: 200px;
    display: block;
    position: relative;
}
span{
    font-size: 100px;
    color: hsl(0, 36%, 70%);
}
#texto #logo{
    position: absolute;
    top: -110px;
}
#texto h1{
    font-size: 100px;

}
#texto p{
    color: hsl(0, 36%, 70%);
    width: 500px;
    line-height: 2em;
    margin: 20px 0px;
}
#foto{
    display: block;
    width: 100%;
    max-width: 610px;
}
input{
    padding: 10px;
    border-radius: 30px;
    width: 500px;
    height: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    color: rgb(207, 206, 206);
}
form{
    display: inline-flex;
}
button{
    width: 80px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right , hsl(0, 61%, 83%), hsl(0, 57%, 60%));
    margin-left: -45px;

}
button:hover{
    color:hsl(0, 57%, 60%) ;
    
}